@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@()
@main("Home Page", webJarsUtil) {
    <!-- Hero section -->
    <section class="hero-section set-bg" data-setbg="@routes.Assets.versioned("img/bg.jpg")">
      <div class="container">
        <div class="hero-text text-white">
          <h2>Eng zo'r online darslarni qo'lga kiriting!</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla <br> dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
        </div>
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <form class="intro-newslatter">
              <input type="text" placeholder="Name">
              <input type="text" class="last-s" placeholder="E-mail">
              <button class="site-btn">Hoziroq ro'yhatdan o'ting</button>
            </form>
          </div>
        </div>
      </div>
    </section>
      <!-- Hero section end -->

      <!-- categories section -->
    <section class="categories-section spad">
      <div class="container">
        <div class="section-title">
          <h2>Bizning kurslar ro'yhatimiz</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
        </div>
        <div class="row">
            <!-- categorie -->
          <div class="col-lg-4 col-md-6">
            <div class="categorie-item">
              <div class="ci-thumb set-bg" data-setbg="@routes.Assets.versioned("img/categories/1.jpg")"></div>
              <div class="ci-text">
                <h5>Fullstack Dasturlash</h5>
                <p>Lorem ipsum dolor sit amet, consectetur</p>
                <span>120 turdagi darslar</span>
              </div>
            </div>
          </div>
            <!-- categorie -->
          <div class="col-lg-4 col-md-6">
            <div class="categorie-item">
              <div class="ci-thumb set-bg" data-setbg="@routes.Assets.versioned("img/categories/5.jpg")"></div>
              <div class="ci-text">
                <h5>Web Dizayn</h5>
                <p>Lorem ipsum dolor sit amet, consectetur</p>
                <span>70 turdagi darslar</span>
              </div>
            </div>
          </div>
            <!-- categorie -->
          <div class="col-lg-4 col-md-6">
            <div class="categorie-item">
              <div class="ci-thumb set-bg" data-setbg="@routes.Assets.versioned("img/categories/2.jpg")"></div>
              <div class="ci-text">
                <h5>Photoshop</h5>
                <p>Lorem ipsum dolor sit amet, consectetur</p>
                <span>220 turdagi darslar</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
      <!-- categories section end -->

      <!-- banner section -->
    <section class="banner-section spad">
      <div class="container">
        <div class="section-title mb-0 pb-2">
          <h2>Hoziroq ro'yhatdan o'ting va bo'nuslarga ega bo'ling.</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
        </div>
        <div class="text-center pt-5">
          <a href="#" class="site-btn">Hoziroq a'zo bo'ling!</a>
        </div>
      </div>
    </section>
      <!-- banner section end -->
}
